.scrollComponent {
  display: flex;
  justify-content: center;
}

.createPostContainer {
  display: flex;
  height: 10svh;
  width: 70%;
  padding-inline: 0.8rem;
  gap: 1.3rem;
  position: relative;
  align-items: center;
  background: rgb(246, 241, 241);
  border-radius: 20px;
}

.uploadButton {
  position: absolute;
  right: 0;
  bottom: -30%;
  background: rgb(5, 96, 170);
  color: white;
  border-radius: 10px;
  padding-inline: 1.2rem;
  padding-block: 0.8rem;
  cursor: pointer;
}

.userProfile {
  border-radius: 100%;
  height: 60%;
  width: fit-content;
}

.Feb {
  background: rgb(6, 6, 116);
  border-radius: 100%;
  display: flex;
  justify-content: center;
}

.Feb > svg {
  width: fit-content;
  height: 40px;
  color: wheat;
}

.textAreaOfContent {
  width: 80%;
  height: 70%;
  border: 1px solid silver;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding-inline: 1.5rem;
  padding-block: 0.8rem;
  outline: none;
}
